<?xml version="1.0"?>
<launch>

  <node pkg="crazyswarm" type="mocap_helper" name="mocap_helper" output="screen" >
    <rosparam>
      # tracking
      motion_capture_type: "qualisys" # one of vicon,optitrack,qualisys,vrpn
      object_tracking_type: "libobjecttracker" # one of motionCapture,libobjecttracker
      #vicon_host_name: "vicon"
      #optitrack_host_name: "optitrack"
      qualisys_host_name: "155.247.51.108"
      qualisys_base_port: 22222
      #vrpn_host_name: "qualisys"
    </rosparam>
  </node>
</launch>
